// color group
@color-white: #ffffff;
@color-white-smoke: #F1F1F1;
@color-lavender: #E7E6EF;
@color-violet:#7E33E0;
@color-wild-strawberry: #FB2E86;
@color-midnight-express: #0D0E43;

// width group
@width-desktop-wrapper: 1168px;
