.navigation {
  display: flex;
  align-items: center;
  margin-left: 10px;
  position: relative;
}

.navigation__list {
  .list-style-none();
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 20px;
}

.navigation__second-list {
  .list-style-none();
  display: none;
  position: absolute;
}

.navigation__item:hover {

  & .navigation__second-list {
    display: flex;
    flex-direction: column;
  }

  & .navigation__link:not(:only-child)::after {
    transform: rotate(180deg);
  }

}

.navigation__link,
.navigation__second-list a {
  font-family: "Lato", "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: @color-midnight-express;
  position: relative;

  &:not(:only-child) {
    padding-right: 15px;
  }

  &:not(:only-child)::after {
    content: "";
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.66675 6L8.00008 11.3333L13.3334 6' stroke='%230D0E43' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    width: 16px;
    height: 16px;
    transition: transform 0.6s cubic-bezier(0.85, 0, 0.15, 1);
    top: calc(50% - 7px);
  }

  &:hover {
    color: @color-wild-strawberry;

    &:not(:only-child)::after {
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.66675 6L8.00008 11.3333L13.3334 6' stroke='%23FB2E86' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  }

  &:hover,
  &--active {
    color: @color-wild-strawberry;

    &:not(:only-child)::after {
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.66675 6L8.00008 11.3333L13.3334 6' stroke='%23FB2E86' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  }
}
