.slider__subtitle {
  font-family: "Lato", "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: @color-wild-strawberry;
  margin-bottom: 0;
}

.slider__title {
  font-family: "Josefin Sans", "Roboto", sans-serif;
  font-weight: 600;
  font-size: 53px;
  line-height: 70px;
  letter-spacing: 0.015em;
  color: @color-black;
  margin-top: 12px;
  margin-bottom: 0;
}

.slider__additional-text {
  font-family: "Lato", "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: @color-wild-blue-yonder;
}

.slider__item {
  display: none;

  &--active {
    position: relative;
    display: grid;
    grid-template-columns: 56% 44%;
  }
}

.slider__description {
  grid-column: 1;
  margin-top: 90px;
}

.slider__image-box {
  grid-column: 2;
  position: relative;
}

.slider__image {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(11px, -58px);
  max-height: 700px;
}

.slider__link {
  margin-top: 8px;
  padding-right: 40px;
  padding-left: 40px;
}

.slider__sale-box {
  z-index: 1;
  font-family: "Josefin Sans", "Roboto", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 37px;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  margin: auto;
  padding: 40px 20px 20px;
  color: @color-white;
  display: flex;
  text-align: center;
  height: 139px;
  width: 137px;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-image: url("../img/icons/icon-discount-background.svg");

  // custom position
  transform: translate(190px, -4px);
}

.slider__lamp {
  &::before {
    content: "";
    top: -95px;
    left: -306px;
    position: absolute;
    width: 387px;
    height: 387px;
    background-image: url("../img/decorate/lamp.png");
  }

  &::after {
    content: "";
    top: 404px;
    left: -190px;
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: @color-wild-strawberry;
  }
}
