.top-list {
  .list-style-none();
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &--contact {
    column-gap: 48px;
  }

  &--contact .top-list__icon {
    margin-right: 13px;
  }

  &--navigation {
    column-gap: 18px;
    justify-content: flex-end;
  }

  &--navigation .top-list__icon {
    margin-left: 5px;
  }
}

.top-list__link {
  color: @color-white-smoke;
  text-decoration: none;
  display: inline-flex;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }
}

select.top-list__link {
  cursor: pointer;
  font-family: inherit;
  font-weight: inherit;
  background-color: @color-violet;
  border: none;
  appearance: none;
  padding-left: 5px;
  padding-right: 20px;
  margin-right: -5px;
  position: relative;
  background-image: url("../img/icons/icon-chevron-down.svg");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center right;

  & option {
    background-color: @color-violet;
  }
}

.top-list__icon {
  height: 16px;
}
